<!-- rifa/templates/rifa/home.html -->
{% extends 'rifa/base.html' %}

{% block title %}Inicio{% endblock %}
{% load static %}

{% block content %}
<h1 class="mt-5">Rifa A Beneficio Familia Paredes</h1>
<h2 class="mt-5">Fecha Sorteo: 31-10-2024</h2>

<!-- Sección de Premio -->
<h2 class="text-center">Premio</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Alexa (Amazon Alexa 5ta Generación)
                            <br>
                            <img src="{% static 'images/Alexa.webp' %}" class="img-fluid premio-img" alt="Alexa">
                        </li>
                    </ul>
                    <!-- Botón para abrir el modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#alexaModal">
                        ¿Qué es Alexa?
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="alexaModal" tabindex="-1" aria-labelledby="alexaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alexaModalLabel">¿Qué es Alexa?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Amazon Alexa</strong> es un asistente virtual controlado por voz, desarrollado por Amazon. Puedes usar Alexa para realizar una amplia gama de tareas mediante comandos de voz.</p>
                <p>Con Alexa puedes:</p>
                <ul>
                    <li>Controlar dispositivos inteligentes en tu hogar, como luces, termostatos, y cámaras de seguridad.</li>
                    <li>Reproducir música desde servicios como Spotify, Amazon Music, Apple Music, y más.</li>
                    <li>Hacer preguntas sobre el clima, noticias, deportes, y curiosidades generales.</li>
                    <li>Configurar alarmas, recordatorios y temporizadores.</li>
                    <li>Realizar compras en Amazon o añadir productos a tu lista de compras.</li>
                    <li>Hacer llamadas telefónicas o enviar mensajes.</li>
                    <li>Jugar juegos interactivos o participar en trivias.</li>
                </ul>
                <p>¡Alexa se convierte en un centro de control para tu hogar y puede ayudarte a simplificar muchas tareas diarias!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Información de Transferencia -->
<div class="container mt-4" style="margin-bottom: 5%;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Datos para Transferencia</h3>
                </div>
                <div class="card-body">
                    <ul id="transferData" class="list-group list-group-flush">
                        <li class="list-group-item text-center"><strong>Nombre: Andrea Goytiendia</strong></li>
                        <li class="list-group-item text-center"><strong>RUT:</strong> 13707283-1</li>
                        <li class="list-group-item text-center"><strong>Banco:</strong> Banco Estado</li>
                        <li class="list-group-item text-center"><strong>Cuenta RUT:</strong> 13707283</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <button id="copyButton" class="btn btn-primary">Copiar Datos</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('copyButton').addEventListener('click', function() {
        var transferData = document.getElementById('transferData');
        var tempElement = document.createElement('textarea');
        tempElement.value = transferData.innerText;
        document.body.appendChild(tempElement);
        tempElement.select();
        document.execCommand('copy');
        document.body.removeChild(tempElement);
        this.innerText = "Datos Copiados!";
        setTimeout(() => { this.innerText = "Copiar Datos"; }, 2000);
    });
</script>

<style>
    .premio-img {
        max-width: 200px;
        height: auto;
        margin-left: 10px;
        margin-top: 10px;
    }

    .btn-sm {
        font-size: 20px;
        background-color: black;
        color: white;
        padding: 5px 10px;
    }
</style>

<!-- Lista de Tickets -->
<h1 class="text-center">Tickets (Valor $1000)</h1>
<h4 class="text-center">(Verdes Disponibles)</h4>
<div class="row justify-content-center" style="margin-top: 5%;">
    {% for number in numbers %}
    <div class="col-6 col-sm-4 col-md-2 col-lg-1 mb-3">
        <a href="{% url 'add_ticket' number.number %}" class="text-decoration-none">
            <div class="card {% if number.available %}bg-success{% else %}bg-danger{% endif %}" style="height: 75px; width: 75px;">
                <div class="card-body text-center text-white" style="font-size: 25px;">
                    {{ number.number }}
                </div>
            </div>
        </a>
    </div>
    {% if forloop.counter|divisibleby:10 %}
</div>
<div class="row justify-content-center">
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
